@mixin posElem() {
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginator_list {
  @include posElem();
  list-style-type: none;
  gap: 20px;
  padding: 10px 80px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.336);
  li {
    width: 40px;
    height: 40px;
    background: rgb(143, 143, 255);
    @include posElem();
    color: white;
    font-weight: 700;
    border-radius: 5px;
    &:hover {
      background: blue;
      cursor: pointer;
    }
  }
}
