.main_panel {
  height: 15vh;
  background-color: blue;
  position: fixed;
  width: 100%;
  .panel_container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
#active {
  transition: 0.5s;
  bottom: 0%;
}
#noActive {
  transition: 0.5s;
  bottom: -15vh;
}
.left > button {
  padding: 15px 15px;
  border: none;
  outline: none;
  background: rgb(234, 255, 0);
  color: rgb(0, 0, 0);
  font-weight: 700;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}
.left > button:hover {
  transform: scale(1.2);
}
.left > button::before {
  content: "";
  width: 200px;
  height: 60px;
  background: rgba(255, 0, 0, 0.21);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.left > button:hover::before {
  content: "";
  width: 200px;
  height: 60px;
  background: rgba(255, 0, 0, 0.21);
  position: absolute;
  top: 0;
  left: -200%;
}
.center {
  color: white;
  font-size: 25px;
  font-weight: 900;
}
.right {
  position: relative;
}
.IoMdDownload {
  font-size: 45px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.IoMdDownload:hover {
  transform: translate(-50%, -50%) scale(1.3);
}
.FaAnglesUp {
  position: fixed;
  top: 70%;
  right: 5%;
  transform: scale(1.5);
  animation: FaAnglesUpAnimation 5s infinite;
  cursor: pointer;
}
@keyframes FaAnglesUpAnimation {
  0% {
    transform: translateY(-20px);
  }
  30% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-20px);
  }
  90% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}
#black {
  color: black;
}
#white {
  color: white;
}
